<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">
        about <br/>
        agostinho campos neto <br/>
        system analyst working for petrobras <br/>
        acneto @ me.com <br/>
        <p class="rss-subscribe">subscribe 
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
        </p>        
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
          <ul class="contact-list">                        
              <li>
              </li>
          </ul>
      </div>

      <div class="footer-col  footer-col-2">
            <ul class="contact-list">                            
            </ul>
       </div>

      <div class="footer-col  footer-col-3">
      </div>

    </div>

  </div>

</footer>
